# Ignore virtual environment directories
.venv/

# Ignore all the cache files and directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the data directory
/data/



# Ignore the following notebooks
notebooks/test.ipynb
notebooks/data_fetch_pipeline.ipynb

# Ignore notebook checkpoints
.ipynb_checkpoints/


# 
notebooks/04_application_workflow_multisensor.ipynb

orchestrator/workflow_manager_multisensor_v0.py

.pytest_cache/

# Ignore Claude files
CLAUDE.md
